@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap naturally */
    justify-content: flex-start; /* Start new rows from the left */
    gap: 15px;
    width: 100%;
  }
  
  .title + .projects {
    margin-top: 20px; /* Increase margin between title and projects */
  }
  
  .title + .title {
    margin-top: 40px; /* Increase margin between titles */
  }
  
  